<svg width="68" height="68" viewBox="0 0 68 68" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M50.4277 16.8093L16.8092 50.4278" stroke="#FEC17F" stroke-width="2" stroke-linecap="round"/>
    <path d="M50.4277 50.4278L16.8092 16.8093" stroke="#FEC17F" stroke-width="2" stroke-linecap="round"/>
</svg>
